<%= render'shared/errors', obj: @task %>
<div class="col-md-8">

  <%= form_with(model: @task) do |form| %>

    <div class="mb-2">
      <%= form.label :title, class: "form-label fw-bold" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-2">
      <%= form.label :description, class: "form-label fw-bold" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="mb-2">
      <%= form.label :priority, class: "form-label fw-bold" %>
      <div class="form-check form-check-inline">
        <%= form.radio_button :priority, '1', class: "form-check-input" %>
        <%= form.label :priority, "Low", class: "form-check-radio" %>
      </div>
      <div class="form-check form-check-inline">
        <%=form.radio_button :priority, '2', class: "form-check-input" %>
        <%=form.label :priority, "Medium", class: "form-check-radio" %>
      </div>
      <div class="form-check form-check-inline">
        <%=form.radio_button :priority, '3', class: "form-check-input" %>
        <%=form.label :priority, "High", class: "form-check-radio" %>
      </div>
    </div>
    <div class="mb-2">
      <%= form.label :status, class: "form-label fw-bold" %>
      <%= form.select :status, ["Incomplete", "In Progress", "Complete"], class: "form-select" %>
    </div>
    <div class="mb-2">
      <%= form.label "collaborators (email address, comma separated)", class: "form-label fw-bold" %>
      <%= form.text_field :users, value: nil, class: "form-control", id: "collab-field" %>
    </div>
    <div class="d-flex justify-content-between">
      <%= form.submit "Save Task", class: "btn btn-primary mt-2" %>
      <% if !@task.new_record? %>
        <%= link_to "Delete Task", task_path(@task), method: :delete, class: "btn btn-danger mt-2" %>
      <% end %>
    </div>

  <% end %>

</div>