<h1>Index page</h1>

<p> <%= link_to "Create Task", new_task_path %> </p>

<% @tasks.each do |task| %>

  <h3><%=task.title%></h3>
  <p><%=task.description%></p>
  <%= link_to "View Task", task_path(task) %>
  <%= link_to "Edit Task", edit_task_path(task) %>
  <%= link_to "Delete Task", task_path(task), method: :delete %>
  <hr>

<% end %>