<h1>New Task</h1>

<% if @task && @task.errors.any? %>
  <% @task.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_with(model: @task, url: tasks_path) do |form| %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :priority %>
    <%= form.text_field :priority %>
  </p>
  <p>
    <%= form.submit "Create Task" %>
  </p>

<% end %>