<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid text-white">
    <%= link_to "2-Do List", root_path, class: "navbar-brand fw-bold"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <% if logged_in? %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Add To-do", new_task_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "To Do's", tasks_path, class: "nav-link" %>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>Hello, </span> <%= current_user.username%>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to 'View Profile', user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to 'Log Out', logout_path, class: "dropdown-item", method: :delete %></li>
              <li><%= link_to "Delete Account", user_path(current_user), data: { confirm: 'Are you sure?' }, method: :delete, class: "dropdown-item text-danger" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>